.articles {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        &Item {
            .card-img-top {
                width: 100%;
                height: auto;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-template-columns: repeat(5, 1fr);
        }

    }
}