.footer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: stretch;
    color: white;
    margin-top: 2rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        position: relative;
        background: url("../images/mobile-footer.jpg") no-repeat top left;
        background-size: cover;
        min-height: 850px;
        padding: 2.5rem 1rem;
        margin-top: 4rem;

        &:after {
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: #00000055;
            z-index: 0;
        }

        @include media-breakpoint-up(md) {
            background: url("../images/desktop-footer.jpg") no-repeat bottom right;
            min-height: 350px;
            margin-top: 0;
            background-size: cover;
            padding: 2.5rem;
        }

        @include media-breakpoint-up(lg) {
            min-height: 420px;
            background-size: cover;
        }
    }

    &__title,
    &__content {
        position: relative;
        z-index: 1;
    }

    &__title {
        text-align: center;
        margin-bottom: 0rem;

        &--main {
            font-size: 2rem;
            margin-top: 4rem;
            margin-bottom: 1rem;

            @include media-breakpoint-up(md) {
                margin-top: 8rem;
                margin-top: 0;
            }
        }
    }

    &__headers {
        margin-bottom: 3rem;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        &Item {
            padding: 0 .5rem;

            &:not(:nth-child(3)) {
                @include media-breakpoint-up(md) {
                    border-right: solid 1px white;
                }
            }

            &Text {
                a {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    color: white;
                    fill: white;
                    transition: color .2s ease-in-out, fill .2s ease-in-out;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        fill: black;
                        color: black;
                    }
                }

                &Link--buyCoffe {
                    .st0 {
                        fill: #00A962;
                    }

                    .st1 {
                        enable-background: new;
                    }

                    .st2 {
                        fill: #FFFFFF;
                    }

                    .st3 {
                        fill: #1E3A33;
                    }

                    .st4 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #FFFFFF;
                    }

                    .st0,
                    .st2,
                    .st4 {
                        transition: fill .3s ease-in-out;
                    }

                    &:hover {
                        .st0 {
                            fill: #FFFFFF;
                        }

                        .st2 {
                            fill: #00A962;
                        }

                        .st4 {
                            fill: #00A962;
                        }

                        .st0,
                        .st2,
                        .st4 {
                            transition: fill .3s ease-in-out;
                        }
                    }
                }

                &Icon {
                    margin-right: 1rem;
                }
            }
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &__footer {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
    }
}